
.top {
  display: flex;
  flex-direction: column;
}

.welcome-message {
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 40px; */
  min-width: 400px;
  width: auto;
  font-size: 1.61538462rem;
  font-weight: normal;
  padding-bottom: 25px;
  text-align: center;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.session-page{
  /* position: absolute; */
  /* top: 150px; */
  width: auto;
  max-width: 300px;
  /* left: 45%; */
  font-weight: 800;
}

.login-signup-errors {
  position: absolute;
  right: 10%;
  top: 300px;
  font-size: 13px;
  background: #C04848;
}

.login-form-container {
  /* text-align: center; */
}

.login-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 178px;
}

.login-form-box {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 0 40px 25px 40px;
}
/*
label {
  max-width: 178px;
} */

.login-signup-errors {
  max-width: 178px;
}

.login-input {
  font-size: 100%;
  padding: 8px;
  height: 18px;
  border: 1px solid #e4e6e8;
  cursor: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


.login-input:hover{
    border-color: #07C;
}

.signup-submit {
  border-color: #07C;
  padding: .7em;
  border-radius: 4px;
  background-color: #0095ff;
  width: 20%;
  font-weight: 400;
  color: white;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  text-align: center;
  padding-right: 29px;
}

.login-submit {
  border-color: #07C;
  padding: .7em;
  border-radius: 4px;
  background-color: #0095ff;
  width: 20%;
  font-weight: 400;
  color: white;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  text-align: center;
  padding-right: 18px;
}

.login-submit:hover, .signup-submit:hover {
  background-color: #07C;
}

.bottom-submit-button {
  text-decoration: underline;
  color: blue;
}

.alt-login-signup-message {
  /* padding: 30px 40px 30px 40px; */
  margin-top: 10px;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 20px;

}

.demo-login, .signup {
  border-color: #07c;
  color: #FFF;
  background-color: #0095ff;
  /* position: relative; */
  padding: .56em;
  /* margin-top: .15em; */
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.75em;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.15384615;
  cursor: pointer;
  height: 20px;
}

.signup {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.demo-login:hover, .signup:hover {
  background-color: #07C;
}

.login {
  margin-left: 10px;
  color: blue;
  text-decoration: underline;
  height: 20px;
}

.login:hover {
  background: #dadada;
}
