.bottom {
  display: flex;
  overflow-y: auto;
}

.right {
  /* height: Calc(100vh - 54px); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-sidebar {
  position: sticky;

  box-sizing: border-box;
  width: 164px;
  /* height: 100vh; */
  padding: 20px;
  flex-shrink: 0;
  padding-right: 19px;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
  /* z-index: 10;
  position: relative;
  box-shadow: 0 0 0 rgba(12,13,14,0.05);
  transition: box-shadow ease-in-out .1s,transform ease-in-out .1s; */
}

.public-header{
  font-size: 11px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #6a737c;
  margin: 16px 0 4px 0;
}

.public-ul{
  padding-left: 1.4em;
}

.space-li, .users-li, .tags-li, .jobs-li {
  padding-top: 12px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #535a60;
}
