.single-question-show{
  height: auto;
  /* min-height: 1000px; */
  /* min-width: 600px; */
  width: 100%;
  padding-left: 0.5em;
  padding-bottom: 224px;
}

.header-section-question {
  padding: 0.9em;
  border-bottom: 1px solid #eff0f1;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  width: 100%;
}

.edit-header-message {
  padding: 20px 15px 20px;
  background-color: #FFF8DC;
  border: 1px solid #E0DCBF;
  font-size: 14px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.question-index-header{
  vertical-align: baseline;
  display: flex;
  justify-content: space-between;
}

.question-title-show {
  word-wrap: break-word;
  font-size: 2.07692308rem;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.link-button {
  border-color: #07c;
  max-width: 6em;
  min-width: 6em;
  max-height: 1.3em;
  width: 72px;
  box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
  color: #FFF;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: .8em;
  margin-right: 70px;
  margin-left: 50px;

  overflow-wrap: unset;
  outline: none;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  cursor: pointer;
}

.link-button:hover{
  background-color: #07C;
}

.question-body {
  word-wrap: break-word;
  width: 92%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.float-display{
  float: left;
  display: inline-flex;
  margin-top: 20px;
  padding-left: 14px;
}

.question-body-footer{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding-left: 14px;
}

.author {
  padding-right: 70px;
}

.error-question-page {
  padding: 30px;
  padding-bottom: 360px;
}
.error-question, .error-question-message, .error-link-page, .no-question-link {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.error-question {
  font-size: 30px;
}

.no-question-link {
  color: blue;
  text-decoration: underline;
}

.question-list-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid silver;
}

.question-list-header h1 {
  font-size: 24px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.question-index-item {
  border-bottom: 1px solid #eff0f1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 30px;
}

.index-item-title {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 14px;
  color: #07C;
  line-height: 1.3;
  padding: 1em;
  cursor: pointer;
}

.index-item-footer {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  line-height: 0.5;
  font-size: 12px;
  padding: 0.5em;
  padding-right: 10px;
  display: flex;
  height: auto;
  flex-direction: row;
  align-self: flex-end;
}
